@reference "tailwindcss";

.headerMenu {
    /*transform: scaleY(0);*/
    transform: translateY(-100%);
    transform-origin: top left;

    --transition-curve: cubic-bezier(0.23, 1, 0.32, 1);

    transition: transform 300ms var(--transition-curve);

    &.open {
        /*transform: scaleY(1);*/
        transform: translateY(0%);
    }
}

.ribbon {
    background-color: var(--color-light-shade-red);
    mask-image: url(Ribbon.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: bottom;
}

.menulist {
    .listTitle {
        anchor-name: --list-title;
    }
    .listItem {
        @apply relative;
        &:last-child {
            anchor-name: --last-elm;
            .thelittledash {
                @apply rounded-bl-4xl;
            }
        }
    }
    .indexline {
        position: absolute;
        position-anchor: --list-title --last-elm;
        top: anchor(--list-title bottom);
        bottom: anchor(--last-elm center);
    }
}
