@import "tailwindcss";

@theme {
  --color-light-text-primary: #5c6a72;
  --color-light-text-secondary: #606e74;
  --color-light-text-tertiary: #8f9c8b;
  --color-light-border: #e0dcc7;
  --color-light-secondary: #efebd4; /* darker one */
  --color-light-primary: #fdf6e3; /*lighter one */

  --font-monospace: "Courier Prime";
  --font-serifed: "Brawler";
  --default-font-family: var(--font-monospace);
}

@layer components {
  .primary-border {
    @apply border border-light-border;
  }
  .cool-background-shit {
    background-image: repeating-linear-gradient(
      -45deg,
      var(--color-light-border) 0,
      var(--color-light-border) 1px,
      transparent 0,
      transparent 50%
    );
    background-size: 31px 31px;
    background-color: var(--color-light-secondary);
  }
}

/* biome-ignore lint/correctness/noUnknownPseudoElement: trust me bro */
*::selection {
  background-color: rgba(from var(--color-light-text-secondary) r g b / 20%);
}
